<form #myForm="ngForm" (submit)="addScore()">
  <div class="row">
    <div class=" col-sm-8">
      <div class="form-group" [class]="(scoreSavedInput.dirty && !scoreSavedInput.valid)?'has-error':''" >
        <input type="number" id="name" name="name" class="form-control"
               required
               [(ngModel)]="scoreSaved"
               #scoreSavedInput="ngModel"
        />
      </div>
    </div>

    <div class=" col-sm-2">
      <div class="form-group" >
        <button class="btn btn-primary btn-large" type="submit" [disabled]="myForm.invalid">Add</button>
      </div>
    </div>
    <div class=" col-sm-2">
      <div class="form-group text-right" >
        <button class="btn btn-primary btn-large" type="button" (click)="bonJambon()">
          <img src="http://koreus.cdn.li/thumbshigh/200902/cochon-cloture-electrique.jpg" width="30px" />
        </button>
      </div>
    </div>
  </div>
</form>
